<div id="bgBanner"></div>

<h1><%= title %></h1>
<div id="greenSpace">
    <div id="mowInput">
        <p>Enter your zip code to see the best day to mow your lawn.</p>
        <input id="zipCode" class="zip-code" type="text" placeholder="Enter your zip code">
        <button id="zipSubmit" class="zip-code-submit">Submit</button>
        <div id="zipCodeError"></div>
    </div>

    <div id="postMowButtonGroup">
        <button id="iMowed">I Mowed!</button>
        <button id="mowStatistics">View Stats</button>
    </div>
</div>