<div id="statSelections">
    <button class="stat-selection-button" id="viewGrassHeightProfile">View Grass Height Profile</button>
    <button class="stat-selection-button" id="viewAllStats">View All Stats</button>
</div>

<div id="statsGraphContainer">
    <canvas id="mowStatsChart"></canvas>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.6/chart.min.js" integrity="sha512-L0Shl7nXXzIlBSUUPpxrokqq4ojqgZFQczTYlGjzONGTDAcLremjwaWv5A+EDLnxhQzY5xUZPWLOLqYRkY0Cbw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src='/javascripts/mowStatsChart.js'></script>
