<div id="weatherDisplay">
    <div class="row current">
    </div>
    <div class="row forecast">
    </div>
</div>

<template id="weathertemplate">
    <div class="forecast-box">
        <h2></h2>
        <p class="high"></p>
        <p class="low"></p>
        <p class="precip"></p>
        <p class="skytextday"></p>
    </div>
</template>

<div class="summary">
</div>