<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
   
    <%- include('./partials/header') %>

    <section class="content">
      <%- include('./partials/stats') %>
    </section>


    <%- include('./partials/footer') %>

    <!-- <div class="grass-container"></div> -->
    <script type="module" src='/javascripts/main.js'></script>
  </body>
</html>