<div id="statSelections">
    <button class="stat-selection-button" id="viewGrassHeightProfile">View Grass Height Profile</button>
    <button class="stat-selection-button" id="viewAllStats">View All Stats</button>
</div>

<div id="statsGraphContainer">
    <canvas id="mowStatsChart"></canvas>
</div>

<script src='/javascripts/chartjs.js'></script>
<script src='/javascripts/mowStatsChart.js'></script>
