<h1><%= title %></h1>
<div>
    <div>
        <style>
            p {
                color: rgb(196, 74, 207);
            }
        </style>
        <p>Enter your zip code to see the best day to mow your lawn.</p>
    </div>

    <div id="postMowButtonGroup">
        <button id="iMowedwww">I Mowed!</button>
        <button id="mowStatisticswww">View Stats</button>
    </div>
</div>